/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-ene-2015, 21:01:54
    Author     : Sadarik
*/


h1.bienvenida{
    padding-top:4%;
    margin-left:20%
    
}

.cajas{
 padding:5px 15px; 
 border:2 solid black;
 border-radius: 5px;
 margin-bottom: 1%; margin-left: 10%; margin-top:1%;
 right: 40;
}

th.as {
   padding: 10px;
}

img.icono {
    width:35px;
    height:35px;
}
img.iconofoto {
    width: 35px;
    height: 35px;
}

input:focus {background-color:#B2E9FC;
}

body {
    background-color: #FFFFFF;
    font-size: 12px;
    margin: 10px;
}

h1 {
    font-size:  14px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: black;
}
.icono{
    width: 20px;
    height: 20px;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}


#cabecera{
    position: relative;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;

    
background: rgb(167,207,223); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */

}

.h2 {
margin-top:8%;
    color: white;
    font-size: 1.5em
}

table.contenido {
    margin-left: 2%;
    margin-bottom:2%;
}

table.contenidoDatos {
    margin-left: 25%;
    margin-bottom:2%;
    padding-top:5%
}

table td{
    font-size: 1.5em;

}

img.foto{
    margin-left: 30%;
    width:300px; 
    height:300px;
}

#cuerpo h2{
    margin-left: 30%;
    padding-top:5%
}

form.subirfotos{
    margin-left:20%;
    margin-bottom:4%;
    margin-top:4%
}

#cuerpo h3{
    font-size: 2em;
    padding-top: 3%;
    margin-left: 2%
}

.boton {padding:5px 15px; 
 border:0 none;
 border-radius: 5px; 
 margin-left: 79%;
 margin-bottom: 2%;
 font-weight: bold;
 font-family:'Roboto';

 background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

}

h2.insertar{
   padding-top: 2%;
       margin-left: 2%;
}

table tr.centrar{
    text-align: center;
    padding-left: 2%
}

table th{
    font-size:1.5em;
    text-align: center;
    padding-right: 2%;
    margin-right:2%
}




#cuerpo{
 width: 60%; 
 margin: 0 auto;
 background-color: rgba(250,250,250,0.6);
 border-radius:20px;
 
 /*Sombreado del contenedor*/
 -webkit-box-shadow: 1px 1px 6px #000; 
 -moz-box-shadow: 1px 1px 6px #000;
 box-shadow: 1px 1px 6px #000; 
 margin-bottom: 2%;
 margin-top: 2%;
 padding-bottom: 3%;
}

.logo{
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

